.banner {
  z-index: 999;

  .sub-menu {
    opacity: 0;
    height: 0;
    position: absolute;
    background: white;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: opacity 0.4s;
    overflow: hidden;

    li {
      margin-left: 0 !important;
      padding: 1em 1.25em;
    }

    a {
      padding: 0 !important;
      color: black !important;
      font-weight: 400 !important;
    }
  }

  .nav-primary {
    @apply hidden;
  }

  .nav {
    @apply flex flex-wrap;

    a {
      @apply inline-block px-2 py-3 text-white border-none;

      font-weight: 600;
      transition: all 0.4s;

      &:hover {
        color: black;
      }
    }

    li {
      margin-left: 10px;
      transition: all 0.4s;

      &:hover,
      &.current_page_item {
        background: white;

        a {
          color: black;
        }
      }
    }
  }

  .menu-item-has-children .sub-menu .current_page_item a {
    border-bottom: 2px solid;
  }

  .menu-item-has-children:hover .sub-menu {
    display: block;
    opacity: 1;
    height: auto;
    z-index: 9000;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.2);
  }

  .brand {
    width: 160px;
    line-height: 1.2em;
    margin: 10px 0;
    margin-right: 10px;
  }

  .nav .sub-menu .current_page_item a {
    border-bottom: 2px solid;
  }

  .nav .sub-menu li a:hover {
    border-bottom: 2px solid;
  }
}

#menuToggle {
  position: absolute;
  top: 10px;
  right: 30px;
  height: 30px;
  width: 50px;
  z-index: 99999;

  .bar {
    height: 2px;
    width: 47px;
    background: white;
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }

  .top {
    top: 7px;
    right: 0;
  }

  .middle {
    top: 13px;
    right: 0;
  }

  .bottom {
    top: 19px;
    right: 0;
  }

  .menu-title {
    position: absolute;
    top: 25px;
    left: 0;
    text-transform: uppercase;
  }

  .rotatedown {
    transform: rotate(-45deg) !important;
    transition: all 0.2s ease-in-out;
    top: 12px;
    right: 0;
    width: 25px;
  }

  .rotateup {
    transform: rotate(45deg) !important;
    transition: all 0.2s ease-in-out;
    top: 12px;
    right: 0;
    width: 25px;
  }

  .hidemiddle {
    display: none;
    transition: all 0.2s ease-in-out;
  }
}

#searchToggle {
  fill: white;
  margin-left: 5px;
  border-left: 2px solid rbga(255, 255, 255, 0.2);
}

.search-modal {
  @apply bg-primary shadow-md;

  width: 100%;
  z-index: 0;
  padding: 120px 0 80px;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  transform: translateY(-100%);

  &.openSearch {
    transform: translateY(0%);
  }

  .search-field {
    background: darken($primary, 15%);
    padding: 15px;
    font-size: 20px;
    border: none;
    margin: 0;
    color: white;
  }

  .search-submit {
    background: $secondary;
    border: none;
    padding: 18px 10px;
    font-weight: bold;
    transition: all 0.4s;

    &:hover {
      background: darken($secondary, 10%);
    }
  }
}

#mega-nav {
  @apply opacity-0 bg-primary bg-opacity-75 text-white fixed w-full h-full top-0 left-0;

  transition: opacity 0.4s 0.5s, z-index 1s 2s;
  z-index: -10;

  li {
    @apply pb-5;

    opacity: 0;
    transform: translateX(10%);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;

    &:nth-child(2) {
      transition-delay: 0.1s;
    }

    &:nth-child(3) {
      transition-delay: 0.2s;
    }

    &:nth-child(4) {
      transition-delay: 0.3s;
    }

    &:nth-child(5) {
      transition-delay: 0.4s;
    }

    &:nth-child(6) {
      transition-delay: 0.5s;
    }

    &:nth-child(7) {
      transition-delay: 0.6s;
    }
  }

  &.open {
    @apply opacity-100;

    transition: opacity 0.4s;
    z-index: 49;

    li {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  a {
    @apply text-white block text-2xl border-none font-bold leading-none;

    &:hover {
      color: #333;
      padding-right: 5px;
    }
  }
}

// .home .banner{
//   .menu-item {
//     > a {
//       color: $primary;
//
//       transition: all 0.4s;
//
//       &:hover {
//         color: darken($primary, 10%);
//       }
//     }
//   }
// }

@screen lg {
  .banner {
    .nav-primary {
      @apply block;
    }

    .btn {
      margin: 0;
      margin-right: 5px;
    }
  }
}

@screen xl {
  .banner {
    .brand {
      max-width: 250px;
    }

    .nav {
      li {
        margin-left: 0;
      }

      a {
        @apply px-5 py-3;
      }
    }
  }
}
